<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <!-- Games -->
      <object id="greedyNumbers" type="Travis.Games.GreedyNumbers.GreedyNumbers, Travis.Games">
        <constructor-arg name="numberOfPlayers" value="2"/>
        <constructor-arg name="pickValues">
          <dictionary>
            <entry key="1" value="5"/>
            <entry key="2" value="3"/>
            <entry key="7" value="1"/>
          </dictionary>
        </constructor-arg>
      </object>
      <object id="multipleTicTacToe" type="Travis.Games.MultipleTicTacToe.MultipleTicTacToe, Travis.Games"/>
      <object id="farmingQuandaries" type="Travis.Games.FarmingQuandaries.FarmingQuandaries, Travis.Games"/>
      <object id="battleOfNumbers" type="Travis.Games.BattleOfNumbers.BattleOfNumbers, Travis.Games"/>
      <object id="mcts" type="Travis.Logic.MCTS.MCTSActor, Travis.Logic"/>
      <object id="console" type="Travis.Console.ConsoleActor, Travis.Console"/>

      <!-- Budget providers -->
      <object id="iterations" type="Travis.Logic.Learning.Model.IterationBasedBudgetProvider, Travis.Logic" singleton="false"/>
    </objects>
  </spring>
</configuration>